* {
  //   position: absolute;
  //   top: 5%;
  //   left: 50%;
  //   justify-content: center;
  //   align-items: center;
  background-color: yellowgreen;

  .container {
    background: orange;
    height: auto;
    width: 90%;
    top: 5%;
    left: 5%;
    position: absolute;
    align-items: center;


    .cards {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 300px;
      margin-top: 2%;
      margin-left: 2%;
      font-family: arial;
      background: red;

      img {
        max-width: 300px;
        height: 200px;
      }

      .title {
        color: grey;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
