@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

* {
  font-family: "Bitter";

  .headerImg {
    background-image: linear-gradient(to right, #171412, #8c0e00);
    width: 100%;
    height: 400px;
    position: relative;

    #title {
      color: #fff;
      background: none;
      font-size: 54px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .cartbox {
      position: fixed;
      top: 0;
      right: 0;
      width: 5%;
      height: 10%;
      background-color: rgba(0, 0, 0, 0.7);
      border: none;
      &:hover {
        border: none;
      }

      #carttext {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .customModal {
    max-width: 500px;
    max-height: 400px;
    width: 30%;
  }

  .tables {
    width: 100%;
    max-height: 200px;
    margin-top: 8%;
    overflow: hidden scroll;

    .btn1,
    .btn2 {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      height: 25px;
      border: none;
    }

    .btn1 {
      margin-right: 5px;
    }

    .btn2 {
      margin-left: 5px;
    }
  }

  .tables::-webkit-scrollbar {
    display: none;
  }
}
