@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

* {
  font-family: "Bitter";

  .products {
    h1 {
      color: #000;
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }

  .rows {
    border: 1px solid red;
    justify-content: center;
  }

  .cartbutton {
    background: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    &:hover {
      color: white;
      background-color: #000;
      border: 1px solid #fff;
    }
  }
}
